  /*Added color to h1 and p*/
  h1 {
    color: rgb(100, 33, 189);
    color: hsl(52, 136, 52);
    text-align: center;
    
  }
  
  h2 {
    background-color: black;
    color: white;
  }
  
  p {
    color:#ff6343;
  }

